@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

.permanent-marker{
    font-family: "Permanent Marker", sans-serif;
  }
  .bookmark::before {
    content: "POWERED BY";
    position: absolute;
    top: 9px;
    left: 0;
    border-bottom: 42px solid #40474c;
    border-left: 43px solid transparent;
    border-right: 41px solid transparent;
    height: 0;
    width: 111%;
    z-index: 0;
    font-size: 10px;
    text-align: center;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.4);
}
  .bookmark::after {
    content: "CALENDELY";
    position: absolute;
    top: 22px;
    left: 0;
    width: 111%;
    height: 50%;
    z-index: auto;
    font-size: 17px;
    text-align: center;
}
@media (min-width: 375px){
  .bookmark {
    --tw-translate-x: 72.3vw;
  }
  }
@media (min-width: 425px){
  .bookmark {
    --tw-translate-x: 75.3vw;
  }
  }
@media (min-width: 768px){
  .bookmark {
    --tw-translate-x: 66.5vw;
  }
  }
@media (min-width: 1024px){
  .bookmark {
    --tw-translate-x: 69.9vw;
  }
  }
@media (min-width: 1280px){
  .bookmark {
    --tw-translate-x: 71.9vw;
  }
  }
@media (min-width: 1440px){
  .bookmark {
    --tw-translate-x: 72.9vw;
  }
  }
  /* *{
    outline: auto rgba(0, 0, 0, 0.5);
  } */
  
